<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='error.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <div class="login-container">
        <i class="fas fa-lock login-icon"></i>
        <h2>Login</h2>
        <form method="post" action="/login">

          <div class="input-group">
              <i class="fas fa-user"></i>
              <input type="text" name="username" placeholder="Username" required>
          </div>

          <div class="input-group">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" placeholder="Password" required>
          </div>

            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  {% if category == 'error' %}
                  <div class="input-error">{{ message }}</div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endwith %}

            <button type="submit">Login</button>

            <div class="login-container forgot-container"></div>
            {% if show_forgot %}
            <a href="{{ url_for('forgot_password') }}" class="forgot-link">Forgot password?</a>
            {% endif %}
            </div>
        </form>
        <p>Don't have an account? <a href="/register">Register</a></p>
    </div>
</body>
</html>
